*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 12px;
}
ul{
	list-style: none;
	margin-top: 0;
	padding-top: 1rem;
}
li{
	display: inline-block;
	font-size: 12px;
}
a{
	display: inline;
	text-decoration: none;
	color: #000;
}
img{	
	display: inline-block;
}

.header{
	position: fixed;
	margin: 0;
	width: 100%;
	height:5%;
	
	z-index: 999;
	text-align: center;
	/* background-color: pink; */
}
.header .wrapper{
	width: 100%;
/* 	
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); */
	background-color: #1E90FF;
}
.header .wrapper input{
	margin: 1px 5px;
	letter-spacing: 2px; 
	border-radius: 20%;
	text-align: left;
}
#search-input{
	color: #999;
}



.content{
	width: 100%;
	height: 90%;
	padding-top: 10%;
	/* background-color: pink; */
}
.row-ul{
	/* background-color:orange; */
}
.row{
	width: 100%;
	height: 20%;
}
.row li img{
	cursor: auto;
	width: 100%;
	height: 15rem;
	/* border: 1px solid red; */
}
.row .col-xs-8{
	height: 50%;
}
button{
	font-size: 8px;
	height: 3.5rem;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	border-width: 0px; 
	border-radius: 3px; 
	background: #1E90FF; 
	cursor: pointer; 
	outline: none;
	color: white;
}
button a{
	letter-spacing: 2px;
	color: white;
}
button a:hover{
	color: black;
}
button a:active{
	color: black;
}




.next-page{
	margin-bottom: 0;
	text-align: center;
}
.next-page button{
	display: inline-block;
	zoom: 1;
	display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	width: 30%;
}
.next-page button a{
	letter-spacing: 1px;
	color: white;
}


.footer{
	padding: 1rem 0;
	margin-bottom: 0;
	text-align: center;
	color: gray;
}
.footer a{
	text-decoration: underline;
	color: blue;
}

